$font-poppins: Poppins;
$blue-colour: #00aeef;

.navbar-outlet {
  width: 100%;
  max-width: calc(100vw - 330px);
  padding-bottom: 25px;

  @media screen and (max-width: 1500px) {
    max-width: calc(100vw - 290px);
  }

  @media screen and (max-width: 1199px) {
    max-width: 100vw;
  }
}

.dashboard-container {
  @media screen and (max-width: 767px) {
    padding: 1rem;
    flex-direction: column;
  }
}
