$font-poppins: Poppins;
$blue-colour: #00aeef;

.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;

  .menu-icon {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 1199px) {
      display: unset;
    }
  }

  .proflie-box {
    border-left: 1px solid #eff0f6;
    width: 100%;
    max-width: 350px;

    @media screen and (max-width: 1500px) {
      max-width: 300px;
    }

    @media screen and (max-width: 576px) {
      max-width: 200px;
    }
  }

  .page-name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #363636;
    font-family: $font-poppins;

    @media screen and (max-width: 576px) {
      font-size: 1rem;
    }
  }

  .avatar {
    width: 56px;
    height: 56px;
    margin: 0 1rem;

    @media screen and (max-width: 576px) {
      width: 42px;
      height: 42px;
      margin: 0 0.5rem;
    }
  }

  .user-name {
    font-weight: 600;
    font-size: 14px;
    color: #363636;
    font-family: $font-poppins;

    @media screen and (max-width: 576px) {
      width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .notifications-and-settings {
    padding: 0 12px;
  }
}
