$font-poppins: Poppins;
$blue-colour: #00aeef;

.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;

  .menu-icon {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 1199px) {
      display: unset;
    }
  }

  .proflie-box {
    border-left: 1px solid #eff0f6;
    width: 100%;
    max-width: 350px;

    @media screen and (max-width: 1500px) {
      max-width: 300px;
    }

    @media screen and (max-width: 576px) {
      max-width: 200px;
    }
  }

  .page-name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #363636;
    font-family: $font-poppins;

    @media screen and (max-width: 576px) {
      font-size: 1rem;
    }
  }

  .avatar {
    width: 56px;
    height: 56px;
    margin: 0 1rem;

    @media screen and (max-width: 576px) {
      width: 42px;
      height: 42px;
      margin: 0 0.5rem;
    }
  }

  .user-name {
    font-weight: 600;
    font-size: 14px;
    color: #363636;
    font-family: $font-poppins;

    @media screen and (max-width: 576px) {
      width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .notifications-and-settings {
    padding: 0 12px;
  }
}

.notification-tabs {
  min-width: 380px;

  @media screen and (max-width: 576px) {
    min-width: unset;
  }

  .request-notifications {
    .request-notification {
      border-radius: 8px;
      padding: 0.75rem;
      font-family: $font-poppins;
      min-width: 380px;

      @media screen and (max-width: 576px) {
        min-width: unset;
      }

      .notification-content {
        flex: 1;
      }

      &.unread {
        background-color: #fafafa;
      }

      .username-and-timestamp {
        @media screen and (max-width: 576px) {
          flex-wrap: wrap;
        }

        .username {
          font-weight: 800;
          font-size: 14px;
          font-family: $font-poppins;
        }

        .notification-timestamp {
          color: #8894a6;
        }
      }

      .notification-description {
        color: #8894a6;
      }

      .link-and-btns {
        @media screen and (max-width: 576px) {
          flex-wrap: wrap;
        }

        .btns {
          .primary-btn,
          .danger-btn {
            padding: 4px 7px;
            width: 65px;
          }
        }
      }
    }
  }
}
