$font-poppins: Poppins;
$blue-colour: #1fb1de;

.sidebar {
  width: 100%;
  max-width: 280px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 6px -1px 22px 0px #00000008;
  border: 1px solid #eff0f6;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: ease-in-out 0.6s;

  @media screen and (max-width: 1199px) {
    position: fixed;
    transform: translateX(-600px);

    &.active {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
  }

  .aside-close-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 36px;

    @media screen and (max-width: 1200px) {
      display: unset;
    }
  }

  .sidebar-link {
    font-family: $font-poppins;
    color: #363636;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 0;
    &:hover {
      transition: 0.5s;
      background-color: $blue-colour;
      .link-name {
        color: #fff;
      }
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  .active-link {
    background-color: $blue-colour;
    .link-name {
      color: #fff;
    }
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
