$font-poppins: Poppins;
$blue-colour: #00aeef;

.user-management-container {
  height: 100%;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 2rem;

  @media screen and (max-width: 767px) {
    margin: 2rem 1rem;
  }

  .search-box {
    background-color: #24b4dfcc;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 4px 0px #0000000d;
    gap: 1rem;

    .search-input {
      background-color: #83d4e9ab;
      border: none;
      outline: none;
      color: #fff;
      width: 100%;
      max-width: 300px;
      box-shadow: 0px 4px 11px 0px #00000012;

      @media screen and (max-width: 767px) {
        max-width: unset;
        min-width: 200px;
        flex: 1;
      }

      &::placeholder {
        color: #fff !important;
      }

      input {
        &::placeholder {
          font-family: $font-poppins;
          color: #fff !important;
          padding-left: 10px;
        }
      }
    }
  }

  .datatable {
    @media screen and (max-width: 1400px) {
      width: 100%;
      // max-width: 1000px;
      overflow-x: auto;
    }

    table {
      tr {
        font-family: $font-poppins;

        .role,
        .status {
          border: none;
          padding: 8px 12px;
        }
      }
    }
  }
}

.ant-table-content {
  table {
    thead {
      tr {
        th {
          border-top: 7px solid #ffffff !important;
          font-family: $font-poppins;
          color: #363636;
          &:first-child {
            border-radius: 0 !important;
          }
          &:last-child {
            border-radius: 0 !important;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #fafafa;
        }
      }
    }
  }
}
.ant-pagination-item-link {
  display: none !important;
}
.ant-pagination-item {
  border-radius: 50% !important;
  border: 1px solid #363636;
  color: #363636;
}

.ant-pagination-item-active {
  background-color: #16afde !important;
  border: none;

  a {
    color: #fff !important;
  }
}

.ant-pagination-prev {
  position: relative !important;

  &::before {
    font-family: $font-poppins;

    content: "Prev" !important;
    position: absolute !important;
    width: 50px;
    left: -25px;
    color: #363636;
    font-weight: 600;
    background-color: #fff;
  }
}

.ant-pagination-next {
  position: relative !important;

  &::before {
    font-family: $font-poppins;

    content: "Next" !important;
    position: absolute !important;
    width: 50px;
    right: -25px;
    color: #363636;
    font-weight: 600;
    background-color: #fff;
  }
}

.filters {
  .filter {
    position: relative;

    .ant-select-selector {
      padding: 18px 18px 18px 72px;
      font-family: $font-poppins;
      background-color: #ffffffd9 !important;
      border: 1px solid #26c4f2 !important;

      .ant-select-selection-item {
        margin-top: 3px;
      }

      span {
        font-weight: 600;
      }
    }

    .ant-select-arrow {
      margin-top: -5px;
    }

    .lebal {
      font-family: $font-poppins;
      position: absolute;
      z-index: 2;
      margin-top: 10px;
      margin-inline-start: 12px;
    }
  }
}

.view-details-btn {
  transition: all 0.5s;
  color: #1064e2 !important;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.user-details-modal {
  padding: 0 1rem;

  @media screen and (max-width: 576px) {
    padding: 0 0.5rem;
  }

  .ant-modal-content {
    padding: 50px 100px;

    @media screen and (max-width: 1200px) {
      padding: 50px 25px;
    }

    @media screen and (max-width: 992px) {
      padding: 30px 15px;
    }
  }

  .modal-container {
    max-width: 1080px;

    .modal-card {
      padding: 12px;
      min-height: 280px;

      &.last-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal-card-inner {
          height: unset;
        }

        .btns {
          justify-content: center;

          @media screen and (min-width: 992px) {
            justify-content: space-between;
          }

          button {
            padding: 0 24px;
            width: 140px;
            height: 38px;
          }
        }
      }

      .field-label {
        font-size: 1rem;
        font-weight: 600;
        font-family: $font-poppins;
        color: #6d6868;
      }

      .modal-card-inner {
        border-radius: 12px;
        padding: 14px;
        height: 100%;

        &,
        img {
          border: 1px solid #eeeeee;
          box-shadow: 0px 8px 12.1px 0px #00000012;
        }

        img {
          border-radius: 12px;
          object-position: top center;
          object-fit: cover;
          aspect-ratio: 1/1;
        }

        .name-and-size {
          font-family: $font-poppins;

          .file-name {
            font-size: 1rem;
          }

          .file-size {
            font-size: 12px;
            color: #838383;
          }
        }

        &.fields-card {
          padding: 0;
        }

        .card-fields {
          border-top: 1px solid #eeeeee;

          .field-name {
            font-size: 12px;
            color: #838383;
          }

          .field-value {
            font-size: 14px;
            font-weight: 600;
            color: #838383;
          }
        }

        .field-label,
        .card-fields {
          padding: 20px;
        }
      }
    }
  }
}
