/* ? fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ? components */
@import "./styles/components/auth/login.scss";
@import "./styles/components/layout/sidebar.scss";
@import "./styles/layout/dashboardLayout.scss";
@import "./styles/components/layout/navbar.scss";

/* ? pages */
@import "./styles/pages/auth.scss";
@import "./styles/pages/dashboard.scss";
@import "./styles/pages/userMangement.scss";
@import "./styles/pages/paymentDetails.scss";
@import "./styles/pages/settings.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#6BC3E6";
}

.ant-tabs-tab-btn {
  color: "#6BC3E6" !important; 
}

.card-head .ant-card-head {
  background-color: #6bc3e6 !important;
  color: #fff;
  font-size: bold;
}
.custom-select .ant-select-selector { 
  padding: 18px 90px !important;
}

.custom-select .ant-select-item {
  width: auto !important;
  padding: 0 70px !important;
  white-space: nowrap;
}
.grey-btn:hover {
  color: #0ba8d8 !important;
  border-color: #0ba8d8 !important;
}
.ant-btn-default:hover { 
  border-color: #0ba8d8 !important;
}

.hide-tooltip .ant-tooltip {
  display: none !important;
}
.ant-tooltip-inner {
  display: none !important;
}
.ant-upload-list-item-name {
  color: #6d6868 !important;
}
.ant-upload-list-item-error {
  border-color: #d9d9d9 !important;
}
